/* Fonts */
body {
  font-family:"IndUni-H";
}
.kan-Kann {
  font-family:"Murty Kannada";
  line-height:1em;
}
.apparatus h4 {
  font-size:1.15em;
}
.apparatus p {
  font-size:0.85em;
}
.quotation-string:after {
    content:". ";
}
.quotation-type {
    font-style:italic;
    color:#990099;
}
.quotation-biblio:before {
    content:"(";
}
.quotation-biblio:after {
    content:")";
}
.translation h4 {
  margin-top:15px;
}
.translation .lg {
  margin:0;
}
#horizontal-line { 
  border-bottom: 1px solid #ddd;
}
/* For the manuscript sections */
.foliation,.lineation{color:gray;}
.foliation:before,.lineation:before{content:"[";}
.foliation:after,.lineation:after{content:"]";}
.ms-physical-content {
  border-radius:5px;
  background-color:#EAEAEA;
  padding:1em 1em 1em 2.5em;
  margin:2em;
  /*word-break:break-all;*/
  overflow:auto;
}
.ms-physical-content::-webkit-scrollbar {
  width: 12px;
}
.ms-physical-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:10px;
}
.ms-physical-content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius:10px;
}
.foliation {  color:gray; }
.foliation-physical {
  display:block;
  text-align:center;
}
.ms-physical, .ms-logical {
  margin:15px 15px 25px 15px;
}
.lineation-physical {
  margin-left:-1.4em;
  padding-right:5px; 
}
.add.above {
  font-size:0.7em;
  vertical-align:super;
}
.add.below {
  font-size:0.7em;
  vertical-align:sub;
}
.add.margin-right {
  float:right;
  font-size:0.7em;
}
.add.margin-left {
  float:left;
  font-size:0.7em;
}
.binding-hole:after {
  content:"◯";
  padding:0 4px;
}
.label-line-number {
  padding-right:0.5em;
}
.space:after {
  content:"\00a0\00a0\00a0";
}
.del {
  text-decoration:line-through;
}
.uncertain:before{content:'[';}.uncertain:after{content:']';}

/* Spacing */
.krm-verse, .vnav {
  margin-top:15px;
}
.krm-verse {
  padding-bottom:4em;
}
.scriptSelector, .sourceSelector {
  margin-top:10px;
}
.ed-pane .tab-content {
  margin: 10px;
}
.lg {
  margin-left:10px;
}
.apparatus, .translation {
  margin:20px 10px 10px 10px;
  
}

/* Formats line-groups (verses):
      These are inline so that following
      <ref> elements can be inline with the
      last line of a verse. */
.l,.tr-l {
  display:block;
  line-height:1.5em;
  font-size:1.15em;
}
.lg .kan-Kann {
  line-height:1.75em;
  font-size:1.25em;
  letter-spacing:1px;
}
.l:nth-child(2), .l:nth-child(4) {
  margin-left:30px; 
}


/* For the critical apparatus */
.lem .lem-text {
  font-weight:bold;
}
.rdg-comment {
  font-style:italic;
}
.lem:after {
  content:"]";
  padding-left:5px;
  padding-right:8px;
}
.rdg .rdg-text {
  color:green;
}
.app-tooltip,
.app-tooltip:hover {
    text-decoration:none!important;
}
.siglum-ed {
    color:#6a00ff;
}

/* For the info page (index.html) */
.index-container {
  padding-top:2em;
  padding-bottom:2em;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
}
.cover-text {
  margin-top:40px;
  margin-bottom:40px;
  padding-right:40px;
  padding-left:40px;
}
#excuse-me { 
  font-size:2em;
}
.heading h1 {
  font-weight:bold;
  -webkit-filter: drop-shadow(6px 6px 12px rgba(0,0,0,0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.toc-columns {
    column-count:3;
    column-gap:15px;
    column-rule:1px solid rgba(0,0,0,0.2);
}
.toggler {
    vertical-align:bottom;
}
.toggler:hover {
    text-decoration:none;
}
.toc-columns li {
    padding-left:1rem;
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.edited {
    position:relative;
    cursor:pointer;
}
.excerpt {
    color:rgba(0,0,0,0.4);
    max-width:75%!important;
    white-space:nowrap;
    position:relative;
    z-index:40;
    overflow:hidden;
}
.leftside {
    position:relative;
}
.leftside a, .leftside span {
    z-index:60;
    position:relative;
}
.edited .leftside a {
    margin-right:0.5rem;
}
.edited .leftside span {
    font-size:70%;
    text-transform:uppercase;
}
.edited .leftside span:before {
    content:"\00a0";
}
.leftside:before {
    content:'';
    display:block;
    z-index:50;
    top:0;
    left:0;
    height:1.5rem!important;
    width:18rem!important;
    position:absolute;
    background:linear-gradient(to right, white 6rem, transparent);
}

.edited:hover .excerpt {
    color:rgba(0,0,0,0.5);
}
.progress-block {
  margin:20px;
}
.progress-block h3 {
  font-size:100%;
}
.progress-block > .progress-block:after {
  border-bottom:1px solid black;
}
.card {
  margin-bottom:20px;
}
.footer {
  margin-bottom:20px!important;
}

/* navbar styling */
/* navbar  styling */
#navbar {
  background-color:rgba(215,215,215,0.5)!important;
  box-shadow: 0 5px 18px rgba(0,0,0,0.3);
}
#brand:hover {
  opacity:0.8;
}
#vTitle {
    padding-left:14px;
}
.container { padding-top:2rem; }
.printorn {
    font-family: "Printers Ornaments";
    text-align:center;
    width:100px;
    margin:0 auto;
    padding:20px 0;
    clear:both;
    font-size:200%;
}
.big-fleuron {
  color:rgba(0,0,0,0.5);
  font-size:200%;
  font-family:"Printers Ornaments One";
  padding:1rem;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
}
/* other fonts */
.pica {
    font-family:"IM FELL DW Pica";
}
.kannada-heading {
    border-bottom: 3px double #dee2e6!important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 226, 230);
    padding:0 1rem;
    margin-top:2rem;
}
.kannada-heading .courseinfo {
    font-family:"EB Garamond";
    font-variant:small-caps;
    font-size:1.25rem;
}
.kannada-heading .kan-Kann {
    font-size:2rem;
}
.kannada-heading .separator {
    font-family: "Printers Ornaments";
}
.separator-block {
    display:block;
    margin:1rem 0 0.5rem 0;
}
.separator-inline {
    vertical-align:middle;
    margin:0 0.5rem;
    font-size:90%;
}